/* stylelint-disable no-descending-specificity */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    justify-content:center;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}


.content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    min-width: 1.140px;
    min-height: 534px;
}

.result {
    align-self: flex-end;
  }

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #FFF;
}

.content__list {
    block-size: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.content__details {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    gap: 26px;
}

.result__video-container {
    display: flex;
    block-size: 100%;
    inline-size: 711px;
    margin-bottom: 16px;
    /* padding-bottom: 16px; */
       /* object-fit: cover; */
}

.result__video {
    inline-size: 100%;
    height: 386px;
    object-fit: cover;
    object-position: center;

}


/* .content__list-item {
    padding-bottom: 28px;
} */

.content__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

.content__video-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    block-size: 100%;
    inline-size: 100%;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-description-container {
    flex-grow: 1;
    padding-top: 4px;

}

.result__video-container,
.content__list {
    position: relative;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.search-form__fieldset-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #fff;
}

.title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    line-height: 70.5px;
    text-align: left;
    color: #fff;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    display: block;
    margin: 2px;
    text-decoration: none;
    color: #fff;
}

.content__video-card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content__video-card-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16.2px;
    text-align: left;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

fieldset {
    border: none;
}

.search-form__label {
    display: flex;
    width: fit-content;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.search-form__label-text {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

.search-form__textfield {
    background: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: #FFF;
    min-inline-size: 225px;
    min-block-size: 22px;
    appearance: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: currentColor;
}


/* ----CHECK-BOX---- */

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__pseudo-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid #fff;
}


/* --BUTTON-- */

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    background: transparent;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    text-align: center;
    cursor: pointer;
}

.search-form__submit-button {
    min-width: 194px;
    min-height: 34px;
    margin-top: 20px;
}

.more-button {
    min-width: 399px;
    min-height: 34px;
}

/* ---Состояния элементов формы и кнопок--- */

.search-form__label:focus,
button:focus {
    outline: none;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;
  }


button:focus-visible {
    outline-offset: 1px;
    outline: 1px solid #fff;
}

.search-form__textfield:active {
    outline: 1px solid #fff;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
    content: '';
    background: #fff;
    height: 15px;
    width: 15px;
}

.search-form__label:hover,
 .search-form__label-text:hover {
    text-decoration: underline;
}

.button:hover {
    text-decoration: underline;
}

.button:active {
    background-color: #545050;
}

/* --Карточки--- */


.content__card-link_current:focus {
    outline: none;
}

.content__card-link_current:focus-visible {
    outline: 1px solid #fff;
}

.content__card-link_current:active {
    background-color: #545050;
  }

.content__card-link_current {
    background: #545050;
}

.content__card-link:hover {
    /* text-decoration: underline; */
    text-decoration: underline 1px #FFF;
}
